* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Lato, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	max-width: 1100px;
	margin: auto;
	font-size: 15px;
	opacity: 1;
	background: rgba(70, 93, 50, 0.25);
	text-transform: uppercase;
}

::placeholder {
	color: #c1c1c1;
}

a {
	text-decoration: none;
	color: #353535;
	transition: color 0.3s;
}

label {
	font-weight: bold;
}

a:hover {
	color: #c9c9c9;
}

.information {
	font-size: 1rem;
}

.copyright {
	color: #ababab;
	text-align: center;
}

.zindexfix {
	z-index: 3;
}

.example {
	font-size: 0.8rem;
}

.toast-container {
	img {
		width: 40px;
	}
}

.coolinglogo {
	width: 350px;
}

.toast {
	position: fixed;
	width: 450px;
	bottom: 0%;
	right: -10%;
	transform: translate(-50%, -50%);
}

.box {
	background-color: aliceblue;
	border-radius: 8px 8px 0px 0px;
	overflow: hidden;
}

.box__title {
	text-indent: 10px;
	padding: 5px;
	background: #4abdcf;
	color: #000000;
}

.box__title--gradient {
	background: #ededed;
	background: -webkit-linear-gradient(0deg, #ededed 0%, #d6d6d6 100%);
	background: linear-gradient(0deg, #ededed 0%, #d6d6d6 100%);
}

.bgloader {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #00000087;
}

.bgloader-box {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 300px;
	border-radius: 5%;
	transform: translate(-50%, -50%);
	background-color: #b9b9b9bf;
	color: #666;
}

.bgloader-inside {
	display: flex;
	justify-content: center;
	align-content: center;
	margin-top: 100px;
}

.loader {
	width: 96px;
	height: 96px;
	top: 50%;
	left: 50%;
	margin-left: 50px;
	transform: translate(50%, 50%);
	border-radius: 50%;
	display: inline-block;
	border: 7px solid;
	border-color: #fff #fff transparent transparent;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	border: 7px solid;
	border-color: transparent transparent #666666 #666666;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	box-sizing: border-box;
	animation: rotationBack 0.5s linear infinite;
	transform-origin: center center;
}
.loader::before {
	width: 64px;
	height: 64px;
	border-color: #fff #fff transparent transparent;
	animation: rotation 1.5s linear infinite;
}

.bgc-fail {
	background-color: #dab81d;
	color: #000;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes rotationBack {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}
